/* Author: Sirajus Salekin
==========================

TO DO:
1. make the device comaptibility in iPhone more accurate.
2. Center the text in the navigation buttons vertically. 

*/

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

}

.bar {
	width: 100%;
	height: 200px;
	background-color: #4BAD51;
}

.menuButton {
	/* all the menu bars should fill the parent container */
	
	width: 14%;
	height: 40px;
	
	background-color: #4BAD51;

	border: 3px white solid;
	border-radius: 5px;

	/* so that all the buttons stay in a horizontal line */
	display: inline-block; 

	margin-top: .05em;
	margin-right: .05em;

	color: white; 

	text-align: center;
	/*center the text, vertically, using display AND vertical-align?*/

	vertical-align: middle;	
}

.buttonBar {
	width: 50%;
	height: 200px;
	display: inline;
	float: left;
}

/*Take care of the left logo and margins later.*/


.page {
	width: 100%;
	height: 900px; 
	/*find a better way to do this, especially height*/
	background-color: #3892B0;
	border: 3px solid white;
	
}

/*Code in this section are used to render parallax effect


*/
.parallax {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	perspective: 1px; 

	perspective-origin-x: 100%;

	overflow-x: hidden;
	overflow-y: scroll;	
}

.parallax_layer {
	height: 1000px;
	position: relative;
	-webkit-transform-style: preserve-3d;

	-webkit-transform-origin-x: 100%;	

	font-size: 20px;


}

.parallax_layer_front {
	position: absolute;
	top: 500px;
	height: 500px;
	width: 100%;
	background:  #23819C;
	opacity: 0.6;
	padding-top: 100px;
	

}

.parallax_layer_back {
	-webkit-transform: translateZ(-1px) scale(2);
	height: 500px;
	width: 100%;
	background: purple;
	top: calc(250px - 50vh);
	opacity: 0.9;
	position: absolute;
	top: 0;

}

/*for accessability during construction*/

.veritcalNav {
	width: 20%;
	display: block;
}


